/* The sidebar menu */
.hours {
    height: 40%; 
    width: 300px; 
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 1100px; /* Stay at the top */
    right: 10px;
    background-color: green; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    text-align: center;
  }
  
  /* The navigation menu links */
  /* .link {
    padding: 20px 20px 20px 20px;
    font-size: 30px;
    text-align: center;
    display: block;
  } */
  
  /* When you mouse over the navigation links, change their color */
  .hours a:hover {
    color: #f1f1f1;
  }
  
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .hours {padding-top: 15px;}
  }