<section>
  <!-- Search component created using input -->
    <input [(ngModel)]="searchedDistributor" type="text" placeholder="Enter Distributor Name"/>
    <input (click)="findDistributor()" type="submit" value="Search"/>
    <tr *ngFor="let distributor of distributors">
        <ng-container *ngIf="distributor.distributorName === searchedDistributor">
          <div class="info">
            <h2 >{{distributor.distributorName}}</h2>
            <h3>{{distributor.bottleList[0].name}}</h3>
            <h3>{{distributor.bottleList[1].name}}</h3>
            <h3>{{distributor.bottleList[2].name}}</h3>
            <h3>{{distributor.bottleList[3].name}}</h3>
            <h3>{{distributor.bottleList[4].name}}</h3>
            <h3>{{distributor.bottleList[5].name}}</h3>
            <h3>{{distributor.bottleList[6].name}}</h3>
            <h3>{{distributor.bottleList[7].name}}</h3>
            <h3>{{distributor.bottleList[8].name}}</h3>
            <h3>{{distributor.bottleList[9].name}}</h3>
          </div>
        </ng-container>
      </tr>
</section>